<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
    <!-- Custom styles CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %} </title>
</head>
<body>       
    <!-- <nav class="navbar navbar-dark bg-dark"> -->
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light"> 
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <li class="nav-item">
            <a class="nav-item nav-link active" href="{{ url_for('index') }}">Календарь <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a class="nav-item nav-link" href="{{ url_for('smeny') }}">Смены</a>
            <li class="nav-item">
              <p><a class="nav-item nav-link" <span style="padding-left: 600px;"> </a> </p>
            </li>
            {% if not current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-item nav-link" href="{{ url_for('login') }}">Log in</a>
            </li>
            {% else %}
            <li class="nav-item">
              Logged in as {{ current_user.username }}
              <a class="nav-item nav-link" href="{{ url_for('logout') }}">Log out</a>
            </li>
            {% endif %}
          </div>
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
         <div class="alert {{ category }}" role="alert">
             <li>{{ message }}</li>
         </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
           &copy; Learn Python by Moscow.Python 2019 <a href="https://learn.python.ru/"></a>
        {% endblock %}
    </div>    
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='popper.min.js') }}" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}" crossorigin="anonymous"></script>
    <script>
      $(function () {
        $('#myTab li:last-child a').tab('show')
      })
    </script>
  </body>
</html>
