{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ super() }}
    <!-- <style type="text/css">  -->
        <!-- .important { color: #181a17; }  -->
    <!-- </style>  -->
{% endblock head %}
{% block content %}
    {% set WEEKDAYS = {0:'Monday',1:'Tuesday',2:'Wednesday',3:'Thursday',4:'Friday',5:'Saturday',6:'Sunday'} %}
    {% set ROWS = mcal|length %}
    {% set CELS = 7 %}

    <h1 class=text-left> {{ mydate.strftime('%B') }} </h1>
    <h1 class=text-left> {{ rows }} </h1>

    {% for week in range(ROWS) %}

        {% for day in range(CELS) %}
            {{ mcal[day] }}
        {% endfor %} 

    {% endfor %} 

{% endblock content %}