{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ super() }}
    <!-- <style type="text/css">  -->
        <!-- .important { color: #181a17; }  -->
    <!-- </style>  -->
{% endblock head %}
{% block content %}
    <h5 class=text-center> {{ mydate.strftime('%B') }} </h5>
    <div class="row">
    <div class="col-my">
            <table class>
              <thead>
                <tr>
                  <th class=text-center> {{ mydate.strftime('%a') }}</th>
                </tr>
              </thead>
              <tbody>
                {% for n in range(itslen) %}
                    <tr class="table-{{ color_row[n] }}">
                        <td><button type="button" class ="btn btn-primary btn-block text-left btn-{{ color_btn[n] }}"> 
                            {{ (persons[n].username | replace('[', '') | replace(']','')) | capitalize | truncate(16)}} 
                        </button></td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
    </div>
    <div class="col-my">
            <table class>    
              <thead>
                    <tr>
                      <th class=text-center> {{ mydate.strftime('%a') }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for n in range(itslen) %}
                        <tr class="table-{{ color_row[n] }}" >
                            <td><button type="button" class ="btn btn-primary btn-block text-left btn-{{ color_btn[n] }}"> 
                                {{ (persons[n].username | replace('[', '') | replace(']','')) | capitalize | truncate(16)}} 
                            </button></td>
                        </tr>
                    {% endfor %}
                  </tbody>
            </table>
          </div>  
          <div class="col-my">
                <table class>    
                  <thead>
                        <tr>
                          <th class=text-center> {{ mydate.strftime('%a') }}</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for n in range(itslen) %}
                            <tr class="table-{{ color_row[n] }}" >
                                <td><button type="button" class ="btn btn-primary btn-block text-left btn-{{ color_btn[n] }}"> 
                                    {{ (persons[n].username | replace('[', '') | replace(']','')) | capitalize | truncate(16)}} 
                                </button></td>
                            </tr>
                        {% endfor %}
                      </tbody>
                </table>
              </div>  
    </div>
{% endblock content %}