{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #539933; }
    </style>
{% endblock head %}
{% block content %}
    <h5></h5>
    <div class="card" style="width: 16rem; left: 12px;">
            <div class="card-body">
                <h3 class="card-title"> <span style="padding-left: 42px;"> </span> {{ date }} </h3> 
                <ul class="list-group">
                    <button type="button" class="btn btn-primary">Duty #1</button>
                    <button type="button" class="btn btn-warning">Duty #2</button>
                    <button type="button" class="btn btn-success">Level Up</button>
                    <button type="button" class="btn btn-secondary">Security</button>
                </ul>
            </div>
     </div>
{% endblock content %}