{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock head %}
{% block menu %}
<li class="nav-item">
<a class="nav-item nav-link active" href="{{ url_for('calendar.index_default') }}">
    Расписание <span class="sr-only">(current)</span>
</a>
</li>
<li class="nav-item">
  <a class="nav-item nav-link" href="{{ url_for('calendar.smeny') }}">Смены</a>
  </li>
<li class="nav-item">
  <p><a class="nav-item nav-link" <span style="padding-left: 500px;"> </span> </a> </p>
  {% if not current_user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-item nav-link" href="{{ url_for('user.login') }}"> <span style="color:#377ba8;">Log in</span></a>
    </li>
    {% else %}
      <li class="nav-item">
        <a class="nav-item nav-link" href="{{ url_for('user.logout') }}">  <span style="color:#377ba8;">Log out</span></a>
      </li>
  {% endif %}
  {% endblock menu %}
{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-8">
            <form action="{{ url_for('user.process_login') }}" method="POST">
                {{ form.hidden_tag() }}
                    <p>
                        {{ form.login_name.label }} <br>
                        {{ form.login_name() }}
                    </p>
                    <p>
                        {{ form.password.label }} <br>
                        {{ form.password() }}
                    </p>
                    <p>
                        {{ form.submit() }}
                    </p>
                    
            </form>
        </div>
        <div class="col-4">
        </div>
    </div>
    </div>
    <script>
        $(function () {
            // $('#myTab li:last-child a').tab('show')
             $('#someTab').tab('show')
        )
    </script>
{% endblock content %}