{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
        /* .equalDivide tr td { width:25%; } */
    </style>
{% endblock head %}
{% block content %}
    <p class="important">
    <h5></h5>
    <div class="container">
            <table class="table-striped">
              <thead>
                <tr>
                  <th>Duty type</th>
                  <th>Time Interval</th>
                </tr>
              </thead>
              <tbody>
                {% for n in range(itslen) %}
                    <tr class="table-{{ color_row[n] }}" >
                        <td><button type="button" class ="btn btn-primary btn-block text-left btn-{{ color_btn[n] }}"> {{ (timeintervals[n].duty_type | replace('[', '') | replace(']','')) }} </button></td>
                        <td> {{ timeintervals[n].time_start.strftime('%H:%M') }} - {{timeintervals[n].time_end.strftime('%H:%M')}}</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>      
     </p>
{% endblock content %}