{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock head %}
{% block menu %}
<li class="nav-item">
<a class="nav-item nav-link active" href="{{ url_for('calendar.index_default') }}">
    Расписание <span class="sr-only">(current)</span>
</a>
</li>
<li class="nav-item">
  <a class="nav-item nav-link" href="{{ url_for('calendar.smeny') }}">Смены</a>
  </li>
<li class="nav-item">
  <p><a class="nav-item nav-link" <span style="padding-left: 500px;"> </span> </a> </p>
  {% if not current_user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-item nav-link" href="{{ url_for('user.login') }}"> <span style="color:#377ba8;">Log in</span></a>
    </li>
    {% else %}
      <li class="nav-item">
        <a class="nav-item nav-link" href="{{ url_for('user.logout') }}">  <span style="color:#377ba8;">Log out</span></a>
      </li>
  {% endif %}
  {% endblock menu %}
{% block content %}
<div class="row">
    <div class="col-4">
        <table class="table">
          <tbody>
            {% for n in range(itslen) %}
                <tr class="table-{{ COLOR_ROW[n] }}" >
                  <td><button type="button" data-toggle="collapse" data-target="#collapseExample{{n}}"  aria-expanded="false" aria-controls="collapseExample{{n}}" class ="btn btn-primary btn-block text-left btn-{{ COLOR_BTN[n] }}"> 
                          {{ n|get_dutytype_name  }} 
                      </button>
                  </td>
                  <td> 
                        {{ timeintervals[n].time_start.strftime('%H:%M') }} - {{timeintervals[n].time_end.strftime('%H:%M')}}
                  </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
        <br>
        <div class="container_smen">
                <div class="collapse" id="collapseExample0">
                  <div class="card card-body1">
                    Основной дежурный, 1 смена.
                  </div>
                </div>
                <div class="collapse" id="collapseExample1">
                    <div class="card card-body2">
                      Основной дежурный, 2 смена.
                    </div>
                </div>
                <div class="collapse" id="collapseExample2">
                    <div class="card card-body3">
                      Старший дежурный, помогает основному дежурному - решает задачи, эскалированные основным дежурным. Координирует взаимодействие при аварийных ситуациях.
                    </div>
                </div>
                <div class="collapse" id="collapseExample3">
                    <div class="card card-body4">
                      Дежурный по таскам на сетевые доступы. 
                    </div>
                </div>
         </div>    
         <div id="footer">
            {% block footer %}
               <h1></h1>
               &copy; Learn Python by Moscow.Python 2019 <a href="https://learn.python.ru/"></a>
            {% endblock %}
        </div>  
{% endblock content %}

