{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock head %}
{% block content %}
    <p class="important">
    <h5></h5>
    <div class="card" style="width: 16rem; left: 12px;">
            <div class="card-body">
                <ul class="list-group">
                    {% for color,duty in new_dict.items() %}
                            <button type="button" class ="{{ color }}"> {{ duty }} </button>
                    {% endfor %}
                </ul>
            </div>
     </div>
     </p>
{% endblock content %}